@font-face {
    font-family: heavitas;
    src: url('../font/Heavitas.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../font/Roboto-Light.ttf');
}

header{
    padding: 5rem 0;
    background-image: radial-gradient(circle, #a3fad6, #00FF94);
}

.header-container{
    width: 80%;
    margin: auto;
    padding: 1rem 2rem;
}

.header-container h2{
    font-family: roboto;
    font-size: 20px;
    font-weight: 500;
}

.header-box01{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.5rem;
}

.header-box01 h1{
    font-size: 150px;
    font-family: heavitas;
}

.icon-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

.icon-box a{
    transition: 0.5s;
}

.icon-box a:hover{
    scale: 110%;
}

.icon-box a > img{
    width: 100px;
}

.header-box02{
    margin-top: -3rem;
}

.header-box02 h1{
    font-size: 150px;
    font-family: heavitas;
}

.header-box03{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.header-desc{
    width: 50%;
}

.header-desc p{
    text-align: justify;
    font-family: roboto;
    font-weight: 600;
}

@media (min-width: 851px) and (max-width: 1200px) {
    .header-container{
        width: 90%;
    }

    .header-box01 h1, .header-box02 h1{
        font-size: 120px;
    }

    .icon-box{
        width: 50%;
    }
    

}

@media screen and (max-width: 851px) {
    .header-container{
        width: 90%;
    }

    .header-box01{
        margin-top: 0;
    }

    .header-box02{
        margin-top: -1rem;
    }

    .header-box01 h1, .header-box02 h1{
        font-size: 90px;
    }

    .icon-box{
        width: 50%;
    }

    .icon-box a > img{
        width: 80%;
    }

    .header-desc{
        width: 70%;
    }

    
@media screen and (max-width: 650px) {
    .header-container{
        width: 90%;
        padding: 0;
    }

    .header-container h2{
        font-size: 12px;
    }

    .header-box01{
        margin-top: 0;
    }

    .header-box02{
        margin-top: -1rem;
    }

    .header-box01 h1, .header-box02 h1{
        font-size: 40px;
    }

    .icon-box{
        width: 20%;
    }

    .icon-box a > img{
        width: 80%;
    }

    .header-desc{
        width: 70%;
    }

    .header-desc p{
        font-size: 10px;
    }

}

}


    



