@font-face {
    font-family: heavitas;
    src: url('../font/Heavitas.ttf');
}

@font-face {
    font-family: learning;
    src: url('../font/LearningCurve.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../font/Roboto-Light.ttf');
}

.sobre-container{
    padding: 0.4rem 0 5rem 0;
    margin-bottom: 5rem;
    background-color: #fff;
}

.sobre-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
}

.sobre-subbox01{
    width: 60%;
}

.sobre-subbox01 h3{
    margin: 0.5rem 0;
    font-family: learning;
    font-size: 30px;
}

.sobre-subbox01 h2{
    font-family:  heavitas;
    font-size: 20px;
}

.sobre-subbox02{
    width: 30%;
    background-color: blueviolet;
}

.sobre-desc{
    width: 90%;
    margin: 1rem 0;
}

.sobre-desc p{
    line-height: 1.7rem;
    text-align: justify;
    font-family: roboto;
}

.sobre-box-icon{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 2rem auto;
}

.sobre-box-icon a > img{
    width: 70%;
    transition: 0.5s;
}
.sobre-box-icon a > img:hover{
    scale: 110%;
}


