@font-face {
    font-family: heavitas;
    src: url('../font/Heavitas.ttf');
}

.title-container{
    margin: 4rem auto;
    text-align: center;
}

.title-container h2{
    font-family: heavitas;
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width: 750px) {
    .title-container h2{
        font-size: 20px;
    }
}